*{margin: 0;padding: 0;box-sizing: border-box;}
:root {
    --bg-main:#464646;
    --bg-card:#2d2727;
    --border-color:#efc745;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-gap: 5rem;
    background-color: var(--bg-main);
}
#card_section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
h2{
    color: #fff;
    font-size: 4rem;
}
span{
    color: var(--border-color);
}


.card {position: relative;transition: all .4s linear; transform-style: preserve-3d;}

.card, .front_card, .back_card {width: 10rem;height: 10rem;} 

.back_card, .front_card {position: absolute;top: 0;left: 0;backface-visibility: hidden;}

.front_card {background-color: var(--border-color);border-radius: .657rem;padding: 2rem;box-shadow: #343434 0px 8px 24px;background-size: contain;}

.back_card {transform: rotateY(180deg); background-size: 80%;background-repeat: no-repeat;background-position: center center;box-shadow: #686868 0px 8px 24px;}

.card_selected {transform: rotateY(180deg); }
.card_match .front_card {background-color: var(--bg-card);}